.card {
    z-index: 5;
    box-shadow:  0 0 0.125rem 0.125rem var(--primary-shadow-color);
    border-radius: 0.5rem;
    max-width: 320px;
    overflow: hidden;
    transition: box-shadow 0.25s;
  }

.card:hover {
  box-shadow: 0 0 0.125rem 0.125rem var(--primary-highlight-color);
}

.card__header,
.card__footer {
  background-color: var(--reverse-primary-theme-color);
  padding: 0.5rem 1rem;
}

.card__body {
  background-color: var(--reverse-secondary-theme-color);
  padding: 1rem;
}

.card__title {
  font-size: 1.25rem ;
  font-weight: 900;
  margin: 0;
}

.card__subtitle {
  font-weight: 900;
  font-size: 1rem;
  margin: 0;
}

.card__text {
  font-weight: 500;
  display: block;
}

.card__text-strong{
  font-weight: 500;
  display: inline-block;
  font-size: 1rem;
}
@media (min-width: 768px) {
  .card {
    max-width: 512px;
  }
  
  .card__title {
    font-size: 1.5rem;
  }

  .card__subtitle {
    font-size: 1.25em;
    margin:0;
  }

  .card__text {
    display: flex;
    font-size: 1rem;
    margin: 0;
  }

  .card__text-strong {
    display: inline-flex;
    font-size: 1rem;
    margin: 0;
  }
}