.container{
    max-width: 1024px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  /* .elements{
  
  }
   */  
   
  .elements--header-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .elements--hero{
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

.section {
    padding: 2rem 0 2rem 0;
    }
    
.section--hero {
    display: flex;
    align-items: center;
    background-color: var(--primary-section-color);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    box-sizing: border-box;
}
  
@media (min-width: 768px){
  .elements--hero {
    grid-template-columns: 1fr 1fr;
  }
}