:root{
    --primary-theme-color: #20232a;
    --reverse-primary-theme-color:#00000080;
    --reverse-secondary-theme-color:#00000040;
    --primary-text-color: #ffffff;
    --primary-font-family: 'Playfair Display' monospace;
    --primary-highlight-color: #61dafb;
    --primary-shadow-color: #ffffff80;
    --primary-section-color:rgba(59, 59, 59, 0.753);
    --translate-x-menu: 100%;   
}